#support-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.support-header-container {
    padding-top: 60px !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.support-title {
    font-weight: 500;
    color: #333;
}

.mat-form-field {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #3F51B5;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
}

.advice-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.advice-paragraph {
    font-size: 0.9rem;
    color: #555;
}
