<app-toolbar></app-toolbar>

<app-contractor-sidebar-contractor *ngIf="this.type == 'contractor'" />
<app-sidebar *ngIf="this.type == 'remodeler'" />

<div id="support-container" class="container mt-5 text-center">
    <div class="support-header-container text-center mb-4">
        <div class="support-header">
            <p class="support-title h3">Tell us what happened</p>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab class="label-title" label="Information">
            <div class="information-support-container">
                <div class="support-form">
                    <form [formGroup]="supportForm" (ngSubmit)="onSubmit()">
                        <p style="font-weight: bold; font-size: 1.2rem;">Support</p>

                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Title</mat-label>
                                <input matInput placeholder="" formControlName="title">
                            </mat-form-field>
                        </div>

                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="" formControlName="message"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" mat-flat-button type="submit">Send</button>
                        </div>
                    </form>
                </div>

                <div class="advice-container mt-4 p-3 border rounded text-center">
                    <mat-icon style="opacity: 70%">info</mat-icon>
                    <div class="advice-paragraph mt-2">
                        <p>Do you have a question or need help? Send us a message with your name, email and message details, and we'll get back to you as soon as possible!</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
