<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>

<div id="create-project-container" class="container mt-5 text-center">
    <!-- contenido existente -->
    <div class="project-header-container text-center mb-4">
        <div class="project-header ">
            <p class="project-title h3">Add Remodeling Project</p>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab class="label-title" label="Information">
            <div class="information-project-container">
                <div class="project-form">
                    <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Image URL</mat-label>
                                <input matInput formControlName="image" placeholder="Image URL" required>
                            </mat-form-field>
                        </div>

                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Project Title</mat-label>
                                <input matInput formControlName="name" placeholder="Title" required>
                            </mat-form-field>
                        </div>

                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description" placeholder="Description" required></textarea>
                            </mat-form-field>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" type="submit" mat-flat-button>Save</button>
                        </div>
                    </form>
                </div>
                <div class="advice-container mt-4 p-3 border rounded text-center">
                    <mat-icon style="opacity: 70%">info</mat-icon>
                    <div class="advice-paragraph mt-2">
                        <p>Post a project you have done before so that your clients know what they can expect from you. Increase your opportunities by letting them know about your work.</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
