<app-toolbar></app-toolbar>
<app-contractor-sidebar-contractor/>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="card mb-4 shadow-sm mt-5">
                <div class="card-header custom-primary-bg text-white">
                    <h5 class="card-title mb-0">{{userData.firstName + " " + userData.paternalSurname + " " + userData.maternalSurname}}</h5>
                    <small class="card-subtitle">{{transformRole(userData.roles)}}</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="{{userData.image}}" alt="photo" class="img-fluid rounded-circle mb-3 border custom-primary-border">
                        </div>
                        <div class="col-md-8">
                            <div class="mb-2">
                                <i class="bi bi-envelope-fill custom-primary-text"></i>
                                <span class="custom-primary-text fw-bold">My description</span>
                                <p>{{userData.description}}</p>
                            </div>
                            <div class="mb-2">
                                <i class="bi bi-envelope-fill custom-primary-text"></i>
                                <span class="custom-primary-text fw-bold">Email</span>
                                <p>{{userData.email}}</p>
                            </div>
                            <div class="mb-2">
                                <i class="bi bi-telephone-fill custom-primary-text"></i>
                                <span class="custom-primary-text fw-bold">Contact</span>
                                <p>{{userData.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button class="btn custom-primary-bg text-white" (click)="openEditDialog()">Edit</button>
                </div>
            </div>

            <div class="remodeler-reviews">
                <h2 class="custom-primary-text" style="font-size: 1.5rem;">Reseñas</h2>
                <div class="remodeler-reviews-card" *ngFor="let review of reviews">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <img width="400px" class="img-fluid" src="{{review.image}}" alt="Review Image">
                        </div>
                        <div class="card-body">
                            <p class="custom-primary-text fw-bold">{{review.project}}</p>
                            <i class="bi bi-person custom-primary-text"></i> <span>Client: </span> <span class="custom-primary-text">{{userData.firstName + " " + userData.paternalSurname + " " + userData.maternalSurname}}</span> <br>
                            <i class="bi bi-clock custom-primary-text"></i> <span>Duration: {{review.duration}}</span>
                            <p>{{review.comment}}</p>
                            <span>Rating: {{review.rating}}</span> <i class="bi bi-star-fill" style="color: #DDAF0A;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

